.App {
  text-align: center;
  font-family: 'Fugaz One', cursive;
}

body {
  background-color: #30AEC5;
  color:#000;
}

.App-link {
  color: #61dafb;
}

.title {
  padding: 10px;
  text-align: center;
  font-family: 'Fugaz One', cursive;
  font-size: xx-large;
}

.container {
  font-size: large
}

.nav {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  background: black;
  font-weight: normal;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  text-align: center;
  font-family: 'Fugaz One', cursive;
  font-size: large;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.navLink {
  display: flex;
  margin-left: 130px;
  margin-right: 110px;
  color: white
}

.song-div {
  font-size: large;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid;
  margin-right: 5px;

}

.pitchdiv{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 padding-top: 25px;
 flex-wrap: nowrap;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: x-large;
  padding: 15px;
  border: 4px dashed;
  text-align: left;
}

a.navLink {
  text-decoration: none;
}
